* {
  border: 0;
  margin: 0;
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

:focus, :active, a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #000;
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 10px;
  }
}

header {
  background: #181818;
}

header .container {
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 29px;
  display: flex;
}

header ul {
  align-items: center;
  display: flex;
}

header ul li a {
  color: #fff;
  font-size: 13px;
}

header ul li:not(last-child) {
  margin-left: 32px;
}

.header_last-li a {
  color: #000;
  width: 142px;
  height: 42px;
  background: #fff;
  border-radius: 14px;
  padding: 13px 18px;
  font-size: 16px;
}

@media (max-width: 768px) {
  header .container img {
    width: 100px;
  }

  .header_last-li a {
    color: #000;
    width: 102px;
    height: 42px;
    background: #fff;
    border-radius: 14px;
    padding: 13px 18px;
    font-size: 12px;
  }
}

@media (max-width: 425.9px) {
  header .container ul {
    display: none;
  }
}

.hero-container {
  text-align: center;
  background: url("hero-back.e8c64b4f.jpg") 0 0 / 100% 100% no-repeat;
}

.hero-container .container p {
  color: silver;
  font-size: 14px;
}

.hero-container .container p:first-child {
  padding-top: 461px;
}

.hero-container .container p:last-child {
  max-width: 580px;
  margin-top: 18px;
  display: inline-block;
}

.hero-container .container h1 {
  color: #fff;
  font-size: 54px;
}

.hero-container ul li svg {
  width: 70px;
  height: 16px;
}

.hero-container ul {
  float: right;
  margin-top: 13px;
  display: flex;
}

.hero-container ul li:not(last-child) {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .hero-container {
    text-align: center;
    background: url("hero-back.e8c64b4f.jpg") 0 0 / 100% 100% no-repeat;
  }

  .hero-container .container p:last-child {
    max-width: 400px;
    margin-top: 18px;
    display: inline-block;
  }

  .hero-container .container p:first-child {
    padding-top: 300px;
  }

  .hero-container ul {
    margin-top: 13px;
    display: inline-flex;
  }
}

.about-container {
  text-align: center;
  margin-top: 112px;
}

.about-container h2 {
  color: #fff;
  font-size: 40px;
}

.about-container p {
  color: silver;
  margin-top: 13px;
  font-size: 23px;
}

.about-container ul {
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 42px;
  display: flex;
}

.about-container ul li {
  width: 576px;
  height: 600px;
  background: url("1.f640c523.jpg") 0 0 / 100% 100% no-repeat;
}

.about-container ul li h3 {
  color: #fff;
  margin-top: 421px;
  font-size: 14px;
}

.about-container ul li p {
  color: silver;
  font-size: 14px;
}

.about-container ul li p:last-child a {
  width: 143px;
  height: 42px;
  color: #000;
  background: #fff;
  border-radius: 14px;
  display: inline-block;
}

.about-kolo {
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: -92px;
  display: inline-block;
  position: relative;
}

.about-container ul li p:last-child a span:last-child {
  margin-top: -25px;
  margin-left: 30px;
  display: block;
  position: relative;
}

.about-container ul li:nth-child(2) {
  background: url("2.351c7dd5.jpg") 0 0 / 100% 100% no-repeat;
}

.about-container ul li:nth-child(3) {
  background: url("3.eb6454c8.jpg") 0 0 / 100% 100% no-repeat;
}

.about-container ul li:nth-child(4) {
  background: url("4.02f907b2.jpg") 0 0 / 100% 100% no-repeat;
}

@media (max-width: 768px) {
  .about-container ul li {
    width: 376px;
    height: 400px;
    background: url("1.f640c523.jpg") 0 0 / 100% 100% no-repeat;
  }

  .about-container ul li h3 {
    color: #fff;
    margin-top: 50%;
    font-size: 14px;
  }
}

.sunset-container {
  width: 100%;
  height: 600px;
  background: url("sunset_mount_back.c773bac8.jpg") 0 0 / 100% 100% no-repeat;
  margin-top: 100px;
}

.sunset-container div {
  max-width: 298px;
  float: right;
  margin-top: 250px;
  margin-right: 30px;
}

.sunset-container h5 {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.sunset-container p {
  color: silver;
  font-size: 14px;
}

.sunset-container div ul {
  float: right;
  align-self: center;
  margin-top: 250px;
  display: flex;
}

.sunset-container div ul li svg {
  width: 65px;
  height: 20px;
}

.sunset-container ul li svg:not(last-child) {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .sunset-container {
    width: 100%;
    height: 500px;
    background: url("sunset_mount_back.c773bac8.jpg") 0 0 / 100% 100% no-repeat;
    margin-top: 100px;
  }

  .sunset-container div ul {
    float: right;
    align-self: center;
    margin-top: 150px;
    display: flex;
  }
}

@media (max-width: 425.9px) {
  .sunset-container {
    width: 100%;
    height: 500px;
    background: url("sunset_mount_back.c773bac8.jpg") 0 0 / 100% 100% no-repeat;
    margin-top: 100px;
  }

  .sunset-container div ul {
    float: none;
    align-self: center;
    margin-top: 250px;
    display: inline-flex;
  }

  .sunset-container div {
    max-width: 100%;
    float: none;
    text-align: center;
    margin-right: 0;
    padding-top: 150px;
  }
}

.gear_cage-box {
  width: 100%;
  height: 540px;
  background: url("gear_cage-back.1adda2e9.jpg") 100% 0 / 50% 100% no-repeat;
}

.gear_cage-box p:first-child {
  color: silver;
  text-transform: appercase;
  margin-top: 173px;
  font-size: 14px;
}

.gear_cage-box h3 {
  color: #fff;
  margin-top: 6px;
  font-size: 28px;
}

.gear_cage-box p:nth-child(3) {
  color: #fff;
  max-width: 514px;
  margin-top: 14px;
  font-size: 14px;
}

.gear_cage-box div {
  width: 50%;
  float: left;
  padding-left: 100px;
}

.gear_cage-box a {
  color: #000;
  width: 172px;
  height: 42px;
  background: #fff;
  border-radius: 14px;
  margin-top: 20px;
  padding: 10px 60px;
  font-size: 15px;
  display: block;
}

.gear_cage-box ul {
  float: right;
  justify-content: space-between;
  padding-top: 500px;
  display: flex;
}

.gear_cage-box ul li svg {
  width: 55px;
  height: 30px;
}

.gear_cage-box ul li:not(last-child) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .gear_cage-box {
    width: 100%;
    height: 340px;
    background: url("gear_cage-back.1adda2e9.jpg") 100% 0 / 50% 100% no-repeat;
  }

  .gear_cage-box ul {
    float: right;
    justify-content: space-between;
    padding-top: 300px;
    display: flex;
  }

  .gear_cage-box div {
    width: 50%;
    float: left;
    padding-left: 50px;
  }

  .gear_cage-box p:first-child {
    color: silver;
    text-transform: appercase;
    margin-top: 63px;
    font-size: 12px;
  }

  .gear_cage-box h3 {
    color: #fff;
    margin-top: 6px;
    font-size: 23px;
  }

  .gear_cage-box p:nth-child(3) {
    color: #fff;
    max-width: 514px;
    margin-top: 14px;
    font-size: 13px;
  }
}

@media (max-width: 425.9px) {
  .gear_cage-box div {
    width: 100%;
    float: left;
    padding-left: 0;
  }

  .gear_cage-box {
    text-align: center;
    width: 100%;
    height: 340px;
    background: #000;
  }

  .gear_cage-box p:first-child {
    color: silver;
    text-transform: appercase;
    margin-top: 50px;
    font-size: 12px;
  }

  .gear_cage-box ul {
    display: none;
  }

  .gear_cage-box a {
    color: #000;
    width: 172px;
    height: 42px;
    background: #fff;
    border-radius: 14px;
    margin-top: 20px;
    padding: 10px 60px;
    font-size: 15px;
    display: inline-block;
  }
}

.montsera-leafs-box {
  width: 100%;
  height: 600px;
  background: url("monstera_leafs-back.95fb4c14.jpg") 0 0 / 100% 100% no-repeat;
}

.montsera-leafs-box div {
  float: right;
  max-width: 400px;
}

.montsera-leafs-box ul {
  margin-top: 300px;
  display: flex;
}

.montsera-leafs-box ul li svg {
  width: 55px;
  height: 35px;
}

.montsera-leafs-box ul li:not(last-child) {
  margin-right: 20px;
}

.montsera-leafs-box h4 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 206px;
  font-size: 14px;
}

.montsera-leafs-box p {
  color: silver;
  max-width: 273px;
  margin-right: 80px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .montsera-leafs-box {
    width: 100%;
    height: 500px;
    background: url("monstera_leafs-back.95fb4c14.jpg") 0 0 / 100% 100% no-repeat;
  }

  .montsera-leafs-box ul {
    margin-top: 150px;
    display: flex;
  }
}

@media (max-width: 425.9px) {
  .montsera-leafs-box {
    width: 100%;
    height: 400px;
    text-align: center;
    background: url("monstera_leafs-back.95fb4c14.jpg") 0 0 / 100% 100% no-repeat;
  }

  .montsera-leafs-box ul {
    margin-top: 170px;
    display: inline-flex;
  }

  .montsera-leafs-box div {
    float: none;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 150px;
  }

  .montsera-leafs-box h4 {
    color: #fff;
    margin-top: 1px;
    padding-top: 150px;
    font-size: 14px;
    display: inline;
  }

  .montsera-leafs-box p {
    color: silver;
    max-width: 100%;
    margin-right: 1px;
    font-size: 14px;
  }
}

.clients-box {
  text-align: center;
  height: 500px;
}

.clients-box .container h3 {
  color: #fff;
  padding-top: 113px;
  font-size: 40px;
}

.clients-box .container p {
  color: silver;
  margin-top: 15px;
  font-size: 24px;
}

.clients-box .container ul {
  justify-content: space-between;
  align-items: center;
  margin-top: 82px;
  display: flex;
}

@media (max-width: 768px) {
  .clients-box .container ul li img {
    width: 100px;
  }

  .clients-box .container h3 {
    color: #fff;
    padding-top: 113px;
    font-size: 30px;
  }

  .clients-box .container p {
    color: silver;
    margin-top: 15px;
    font-size: 20px;
  }
}

@media (max-width: 425.9px) {
  .clients-box .container ul li img {
    width: 80px;
  }

  .clients-box .container ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    display: flex;
  }
}

.star-fall {
  width: 100%;
  height: 600px;
  background: url("star_fall-back.5698d7a7.jpg") 0 0 / 100% 100% no-repeat;
}

.star-fall div {
  float: right;
  max-width: 400px;
}

.star-fall ul {
  margin-top: 290px;
  display: flex;
}

.star-fall ul li svg {
  width: 55px;
  height: 35px;
}

.star-fall ul li:not(last-child) {
  margin-right: 20px;
}

.star-fall h4 {
  color: #fff;
  text-transform: uppercase;
  padding-top: 206px;
  font-size: 14px;
}

.star-fall p {
  color: silver;
  max-width: 273px;
  margin-right: 80px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .star-fall {
    height: 500px;
  }

  .star-fall ul {
    margin-top: 150px;
    display: flex;
  }
}

@media (max-width: 425.9px) {
  .star-fall div {
    float: none;
    max-width: 100%;
    text-align: center;
  }

  .star-fall p {
    color: silver;
    max-width: 100%;
    margin-right: 0;
    font-size: 14px;
  }

  .star-fall ul {
    margin-top: 200px;
    display: inline-flex;
  }
}

.footer {
  height: 1066px;
  text-align: center;
  justify-content: center;
}

.footer .container h2 {
  color: #fff;
  margin-bottom: 15px;
  padding: 113px 0 0;
  font-size: 40px;
}

.footer .container p {
  color: silver;
  margin-bottom: 15px;
  font-size: 24px;
}

.footer .container a {
  color: #000;
  width: 154px;
  height: 42px;
  background: #fff;
  border-radius: 14px;
  padding: 9px 40px;
  display: inline-block;
}

.footer .container .footer-list {
  justify-content: space-between;
  padding-top: 213px;
  display: flex;
}

.footer .container .footer-list li {
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer .container .footer-list li img {
  margin-bottom: 30px;
  display: block;
}

.footer .container .footer-list li:first-child p {
  color: silver;
  font-size: 13px;
}

.footer .container .footer-list li:nth-child(2) p {
  color: #fff;
  font-size: 14px;
}

.footer .container .footer-list li:nth-child(2) p:first-child {
  color: #fff;
  color: silver;
  text-transform: uppercase;
  font-size: 14px;
}

.footer .container .footer-list li:nth-child(3) p {
  color: #fff;
  font-size: 14px;
}

.footer .container .footer-list li:nth-child(3) p:first-child {
  color: #fff;
  color: silver;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-line {
  width: 100%;
  height: 2px;
  background: #fff;
  margin-top: 36px;
}

.footer-block {
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  display: flex;
}

.footer-block div {
  text-align: left;
}

.footer-block div p:first-child {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.footer-block div p:last-child {
  color: silver;
  font-size: 13px;
}

.footer-block form input {
  width: 458px;
  height: 52px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.footer-block form button {
  width: 63px;
  height: 30px;
  background: #000;
  border-radius: 11px;
  margin-top: 11px;
  position: absolute;
  right: 190px;
}

.footer-block-last {
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  display: flex;
}

.footer-block-last-text {
  color: silver;
  font-size: 14px;
}

.footer-block-last .footer-block-list li svg {
  width: 24px;
  height: 30px;
}

.footer-block-last .footer-block-list li:not(last-child) {
  margin-right: 20px;
}

.footer-block-last .footer-block-list {
  display: flex;
}

@media (max-width: 768px) {
  .footer-block form input {
    width: 453px;
    height: 52px;
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
  }

  .footer-block form button {
    width: 63px;
    height: 30px;
    background: #000;
    border-radius: 11px;
    margin-top: 11px;
    display: none;
    position: absolute;
    left: 0;
  }
}

@media (max-width: 425.9px) {
  .footer .container h2 {
    font-size: 35px;
  }

  .footer .container p {
    color: silver;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .footer .container .footer-list {
    justify-content: space-between;
    padding-top: 150px;
    display: flex;
  }

  .footer .container .footer-list li:first-child p {
    color: silver;
    font-size: 10px;
  }

  .footer .container .footer-list li:nth-child(2) p {
    color: #fff;
    font-size: 10px;
  }

  .footer .container .footer-list li:nth-child(2) p:first-child {
    color: #fff;
    color: silver;
    text-transform: uppercase;
    font-size: 10px;
  }

  .footer .container .footer-list li:nth-child(3) p {
    color: #fff;
    font-size: 10px;
  }

  .footer .container .footer-list li:nth-child(3) p:first-child {
    color: #fff;
    color: silver;
    text-transform: uppercase;
    font-size: 10px;
  }

  .footer-block form input {
    display: none;
  }

  .footer-block-last-text {
    color: silver;
    font-size: 10px;
  }

  .footer-block-last .footer-block-list li svg, .footer-block-last .footer-block-list li svg use {
    width: 20px;
    height: 20px;
  }
}

/*# sourceMappingURL=index.34df27b5.css.map */
